.action-wrapper.multi-actions {
  padding-top: 10px;

  .btn {
    display: inline-flex;
    margin-right: 15px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
  }
}
