// Base Variables
$base-font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
$base-font-size: 16px;
$base-gap: 20px;
$base-padding: 20px;

// Colors
$color-primary: #784CC0;

// Text
$text-color-primary: #000;

// Columns
$column-padding: $base-padding / 2;
