.page-wrapper {
  padding-top: 100px;
}

.header-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  img {
    width: 14px;
    height: 14px;
  }

  span {
    color: #784CC0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.34px;
    line-height: 17px;
    margin-left: 10px;
  }
}

.page-heading {
  h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.96px;
    line-height: 48px;
    opacity: 0.75;
  }
}
